* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Monument, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #222;
  color: #fff;
  font-family: telegraf-light;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.2em;
}
/* main {
  min-height: 100vh;
  position: relative;
} */
