.Gallery_Mainwrapper {
  position: relative;
}
.Main {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  pointer-events: none;
  top: 0;
}

.blan_div {
  /* height: 100vh; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* padding-bottom: 20vh; */
  background-color: #000;
}
.blan_div2 {
  /* height: 180vh; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  /* padding-bottom: 20vh; */
  background-color: #000;
}
.ScrollDown_btm {
  position: fixed;
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
  font-family: var(--primary-fontB);
  z-index: 10;
}
.ScrollUp_btm {
  position: fixed;
  bottom: 2rem;
  opacity: 0;
  visibility: visible;
  font-family: var(--primary-fontB);
  z-index: 10;
}
.Gallery_wrapper {
  position: relative;
  z-index: 2;
  pointer-events: none;
  /* height: 100%; */
}
.gallery_cntr {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  /* height: 100vh; */
  /* background-color: red; */
  /* position: absolute; */
  z-index: -10;
  pointer-events: none;
  /* opacity: 0; */
  /* transform: translateY(50%); */
  /* overflow-x: hidden; */
}
.gallery_text-cntr {
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  position: relative;
  z-index: 4;
  /* background-color: #a10f0f; */
}
.gallery_title_text {
  text-transform: uppercase;
  font-size: 14vw;
  text-align: center;
  width: 83.333333%;
  font-family: var(--primary-fontB);
}
.gallery_title_maintext {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  pointer-events: auto;
  color: #fff;
}
a {
  text-decoration: none;
}
.gallery_image_bottom_sec {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5vw;
  padding-right: 5vw;
  height: 40vh;
  /* background-color: green; */
}
.gallery_image_bottom_inner {
  width: 83.333333%;
  aspect-ratio: 4/5;
  display: flex;
  pointer-events: auto;
}
.gallery_image_bottom_inner .w-full.h-full {
  width: 100%;
  height: 100%;
}
.Fixed_image_cntr {
  padding-left: 5vw;
  padding-right: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.fixed_image_clip_cntr {
  width: 83.333333%;
  aspect-ratio: 9/16;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  clip-path: inset(100% 0px 0%);
  /* clip-path: inset(0% 0px 100%); we want to do that on scroll */
}
[data-start="hidden"] {
  visibility: hidden;
}
.fixed_image_clip_cntr img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  max-width: 100%;
  /* transform: scale(1.0724); */
  filter: brightness(1);
  visibility: visible;
}
@media only screen and (min-width: 768px) {
  .gallery_text-cntr,
  .Fixed_image_cntr {
    height: 100vh;
  }
  .fixed_image_clip_cntr {
    aspect-ratio: 4 / 5;
  }
}
@media only screen and (min-width: 1024px) {
  .gallery_image_bottom_inner {
    width: 33.333333%;
  }
  .fixed_image_clip_cntr {
    width: 41.666667%;
  }
}

/* services */
.Services_wrapper {
  width: 100%;
  position: relative;
  background-color: #000;
  z-index: 10;
}
.morph-wrapper {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.morph-wrapper svg,
.morph-wrapper {
  pointer-events: none;
}
.morph-wrapper svg path {
  fill: #eeff04;
  transition: fill 0.3s ease;
}
.morph-wrapper.black svg path {
  fill: #222;
}
.column,
.columns {
  flex: 1 1 0px;
  min-width: 0;
  min-width: auto;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.xxlarge-offset-1 {
  margin-left: 6.25%;
}

.h-large {
  color: #fff;
  font-family: var(--primary-fontL);
  /* font-size: calc(2.375rem + 6vw); */
  font-size: 5vw;
  /* letter-spacing: -0.04em; */
  line-height: 1.2;
}
h2.h-large {
  margin-top: 11.7647058824vw;
  position: relative;
}
/* h2.h-large .block {
  opacity: 0;
  transform: translateY(50%) skewX(20deg);
} */
h2.h-large:after {
  content: "●";
  left: -11.7647058824vw;
  opacity: 1;
  position: absolute;
  top: 0;
  transition: 0.6s ease;
}
h2.h-large.enter:after {
  left: -5.8823529412vw;
  opacity: 1;
}
.benefits-wrapper {
  margin-top: 11.7647058824vw;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.benefits-wrapper:last-child {
  padding-bottom: 200px;
}
.benefits-anim-wrapper,
.svg-wrapper {
  position: absolute;
}
.cube-wrapper {
  height: 400px;
  padding-left: 120px;
  perspective: 117.6470588235vw;
  width: 450px;
  will-change: transform;
}
.cube-wrapper .inner {
  transform: translate(-200%, 0%) scale(0.3, 0.3);
  transition: all 0.3s ease-out;
}
.innerInview {
  transform: translate(0%, 0%) scale(1, 1) !important;
  transition: all 0.3s ease-in;
}
.cube-wrapper .cube {
  height: 400px;
  position: relative;
  transform: rotateY(0);
  transform-origin: center;
  transform-style: preserve-3d;
  width: 450px;
  will-change: transform;
}
.cube-wrapper .face {
  align-items: center;
  background: linear-gradient(90deg, #ecd7d7, #d1d2cc, rgb(235, 223, 222));
  /* i want gradinet color code
  background: linear-gradient(90deg, #ff0000, #00ff00, #
  */

  border: 1px solid #000;
  display: flex;
  height: 400px;
  justify-content: center;
  opacity: 1;
  position: absolute;
  width: 450px;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
  display: block;
  height: auto;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cube-wrapper .front {
  transform: translateZ(225px);
}
.height-fix {
  display: none;
}
.cube-wrapper .back {
  transform: translateZ(-225px) rotateY(180deg);
}
.cube-wrapper .left {
  transform: translateX(-225px) rotateY(-90deg);
}
.cube-wrapper .right {
  transform: translateX(225px) rotateY(90deg);
}
.row {
  display: flex;
  flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 106.25rem;
  padding-left: 5.8823529412vw;
  padding-right: 5.8823529412vw;
}
.align-middle {
  align-items: center;
}
.row.expanded {
  max-width: none;
}
.xxlarge-6 {
  flex: 0 0 37.5%;
  max-width: 37.5%;
}
.xxlarge-offset-9 {
  margin-left: 56.25%;
}
.benefits-wrapper .text-wrapper {
  align-items: center;
  display: flex;
  min-height: 450px;
}
.benefits-wrapper .text-wrapper h3 {
  color: #fff;
  font-family: var(--primary-fontB);
  font-size: calc(1.85rem + 3.2vw);
  font-size: 3vw;
  /* letter-spacing: -0.03em; */
  line-height: 1.2em;
  margin-bottom: 1.1764705882vw;
}
.benefits-wrapper .text-wrapper p {
  color: #fff;
  /* font-family: telegraf-light; */
  font-size: calc(1.3rem + 0.26667vw);
  /* font-size: 1.4117647059vw; */
  /* letter-spacing: -0.01em; */
  line-height: 1.2em;
  font-family: var(--secondary-fontS);
  font-family: var(--primary-fontL);
}
@media only screen and (min-width: 1194px) and (orientation: landscape) {
  h2.h-large.enter:after {
    font-size: 56px;
  }
}
@media only screen and (min-width: 1200px) {
  .h-large {
    font-size: 2.875rem;
  }
  .benefits-wrapper .text-wrapper h3 {
    /* font-size: 4.25rem; */
    font-size: 3vw;
  }
  .benefits-wrapper .text-wrapper p {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 960px) {
  .cube-wrapper {
    height: 345px;
    opacity: 1;
    padding-left: 0;
    perspective: 5000px;
    transform: scale(0.8);
  }
  .row {
    padding-right: calc(2.25rem + 5.33333vw);
  }
  .small-16 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .small-offset-0 {
    margin-left: 0;
  }
  .benefits-wrapper .text-wrapper {
    min-height: auto;
  }
  .benefits-wrapper .text-wrapper h3 {
    margin-bottom: 1.25rem;
    /* font-size: calc(1.85rem + 3.2vw); */
    font-size: 6vw;
  }
  .benefits-wrapper .text-wrapper p {
    font-size: calc(1.3rem + 0.26667vw);
  }
}
@media only screen and (max-width: 1300px) {
  .cube-wrapper .cube {
    height: 300px;
    width: 300px;
  }
  .cube-wrapper .face {
    height: 300px;
    width: 300px;
  }
  .cube-wrapper .front {
    transform: translateZ(150px);
  }
  .cube-wrapper .back {
    transform: translateZ(-150px) rotateY(180deg);
  }
  .cube-wrapper .left {
    transform: translateX(-150px) rotateY(-90deg);
  }
  .cube-wrapper .right {
    transform: translateX(150px) rotateY(90deg);
  }
  .cube-wrapper .cube img {
    width: 80%;
  }
  .cube-wrapper .cube img.height-fix {
    height: 80%;
  }
}
/* services */
/* homepara */
.intro {
  position: relative;
  background-color: #000000;
}
.intro__container {
  padding: 10vh 0 0;
  /* margin-top: 30vh; */
  border-top: 1px solid #303030;
}
.intro .itext {
  position: relative;
  z-index: 12;
  mix-blend-mode: exclusion;
}
.itext h1 {
  text-align: center;
  font-size: 3vw;
  font-weight: 600;
  letter-spacing: 0.02em;
  width: max-content;
  margin: 5rem auto;
  z-index: 3;
  color: #ffffff;
  line-height: 2.8vw;
  font-family: var(--primary-fontL);
}
.intro .itext h3 {
  font-size: 2vw;
  line-height: 2.8vw;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  width: max-content;
  margin: 0 auto;
  z-index: 3;
}
.highlight {
  font-family: var(--primary-fontTh);
}
.intro .itext__thumb {
  position: relative;
  display: inline-block;
  width: 150px;
  margin-left: -20px;
  margin-right: -20px;
  z-index: -1;
}
.intro .itext__thumb img {
  width: 150px;
  position: absolute;
  top: -55px;
  left: 0;
}

img {
  max-width: 100%;
  height: auto;
}
.fhl {
  font-family: var(--primary-fontL);
  font-weight: 400;
}
.intro .itext__line {
  position: relative;
  display: block;
}
.o_italic i {
  font-family: var(--primary-fontL);
  font-style: italic;
  font-weight: 100;
  font-style: italic;
}
.intro__video {
  position: relative;
  width: 50vw;
  height: 50vw;
  border-radius: 50%;
  overflow: hidden;
  margin: -20px auto 0 auto;
  z-index: 11;
}
.intro__video--wrapper {
  position: absolute;
  top: -20%;
  left: -50%;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 160vh;
  z-index: 1;
}
.intro__video--wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: rotate(0.001deg);
}
@media screen and (max-width: 840px) {
  .intro__container {
    padding: 10vh 20px 0;
    margin-top: 10vh;
  }
  .intro .itext h3 {
    font-size: 18px;
    line-height: 22px;
    width: 100%;
  }
  .intro .itext__line {
    display: unset;
  }
  .intro .itext__thumb {
    display: none;
  }
  .intro__video {
    width: 90vw;
    height: 90vw;
    margin-top: -40px;
  }
  .intro__video--wrapper {
    left: 0;
  }
}

/* homepara */
