.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 25px 80px;
  z-index: 111;
}
@media screen and (max-width: 840px) {
  .navbar {
    display: none;
    padding: 15px 25px;
  }
}
.navbar--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar--menu--item {
  overflow: hidden;
}
.navbar--menu--item.loaded {
  overflow: unset;
}
.navbar--menu--item a {
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 900;
  color: #ffffff;
  transform: translateY(100%);
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.navbar--menu--item a.curr {
  opacity: 1;
}
.navbar--menu--item a .nav_text {
  position: absolute;
  bottom: -28px;
  left: 0;
  width: 404px;
  font-size: 15px;
  line-height: 20px;
  text-transform: capitalize;
  letter-spacing: 0;
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.navbar--menu--item a .nav_text.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.navbar--menu--item:last-child a .nav_text {
  left: unset;
  right: 0;
  text-align: right;
}
.navbar.hover_in ul li a:not(.active),
.navbar.anim_ongoing ul li a:not(.active) {
  opacity: 0.5;
  filter: blur(1.5px);
  color: #000;
  transition: color 0.3s linear;
}
.navbar.hover_in ul li a.active,
.navbar.anim_ongoing ul li a.active {
  opacity: 1;
  filter: blur(0);
  color: #000;
  transition: color 0.3s linear;
}
.navbar.refresh .nav_text {
  opacity: 0 !important;
}

.mobilenavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  display: none;
  font-family: var(--primary-fontL);
  color: #fff;
}
@media screen and (max-width: 840px) {
  .mobilenavbar {
    display: flex;
  }
}
.mobilenavbar__logo h5 {
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 9;
  position: relative;
}
.mobilenavbar__logo h5::first-letter {
  -webkit-initial-letter: 2;
  initial-letter: 2;
  color: #ffffff;
  font-weight: bold;
  margin-right: 0.2em;
}
.mobilenavbar__togglebtn {
  font-size: 14px;
  line-height: 15px;
  font-weight: 300;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 !important;
}
.mobilenavbar__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--app-height);
  background: #000000;
  padding: 20vh 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
}
.mobilenavbar__content--close {
  position: absolute;
  right: 20px;
  top: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;
}
.mobilenavbar__content--menu--item {
  overflow: hidden;
}
.mobilenavbar__content--menu--item a {
  position: relative;
  display: block;
  padding: 20px 30px;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  font-weight: 300;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  transform: translateY(100%);
  transition: all 2.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.5s;
}
.mobilenavbar__content--menu--item a::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  right: 20px;
  top: 50%;
  border-radius: 50%;
  background: #ffffff;
  transform: translateY(-50%);
  transition: all 0.3s;
  opacity: 0;
}
.mobilenavbar__content--menu--item:not(:last-child) {
  border-bottom: 1px solid #343434;
}
.mobilenavbar__content--menu--item.active a::before {
  opacity: 1;
}
.mobilenavbar__content--footer {
  display: flex;
  padding: 0 30px;
  opacity: 0;
  transition: all 2.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.mobilenavbar__content--footer--col:not(:last-child) {
  margin-right: 40px;
}
.mobilenavbar__content--footer--col h5 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 10px;
}
.mobilenavbar__content--footer--col p {
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
}
.mobilenavbar__content.show {
  opacity: 1;
  visibility: visible;
}
.mobilenavbar__content.show ul li a {
  transform: translateY(0);
}
.mobilenavbar__content.show ul li:nth-child(1) a {
  transition-delay: 0.5s;
}
.mobilenavbar__content.show ul li:nth-child(2) a {
  transition-delay: 0.6s;
}
.mobilenavbar__content.show ul li:nth-child(3) a {
  transition-delay: 0.7s;
}
.mobilenavbar__content.show ul li:nth-child(4) a {
  transition-delay: 0.8s;
}
.mobilenavbar__content.show .mobilenavbar__content--footer {
  opacity: 1;
  transition-delay: 1.1s;
}
.navbar--menu--item a.curr {
  opacity: 1;
}

/* brandInfo */
.brandsInfo {
  position: relative;
  z-index: 60;
  padding-bottom: 0vh;
  margin-top: -150vh;
}
@media screen and (max-width: 840px) {
  .brandsInfo {
    margin-top: 0;
    padding: 20vh 0;
    margin-top: 10vh;
    margin-bottom: 25vh;
    overflow: hidden;
  }
}
.brandsInfo__mobilebg {
  display: none;
}
@media screen and (max-width: 840px) {
  .brandsInfo__mobilebg {
    display: block;
    position: absolute;
    top: -20%;
    left: 0;
    width: 120%;
    height: 120%;
    z-index: -1;
  }
  .brandsInfo__mobilebg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .brandsInfo__mobilebg::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
  }
}
.brandsInfo__headingBlock {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.brandsInfo__headingBlock:last-child {
  margin-top: -2vw;
}
.brandsInfo__headingBlock h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20vw;
  line-height: 18vw;
  font-weight: 200;
  transform: translateY(100%);
  transition: transform 1s ease-in-out;
}
.brandsInfo__headingBlock h2.show {
  transform: translateY(0);
}
@media screen and (max-width: 840px) {
  .brandsInfo__headingBlock h2 {
    opacity: 1;
    transform: translateY(0);
    font-size: 130px;
    line-height: 120px;
  }
}
.brandsInfo__textBlock {
  position: relative;
  margin: 10vh auto 0 auto;
  display: flex;
  width: 65vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 840px) {
  .brandsInfo__textBlock {
    width: 290px;
    margin-top: 4vh;
  }
}
.brandsInfo__textBlock p {
  margin-bottom: 20px;
  font-size: 1vw;
  line-height: 1.4vw;
  text-align: center;
}
@media screen and (max-width: 840px) {
  .brandsInfo__textBlock p {
    font-size: 13px;
    line-height: 18px;
  }
}
.brandsInfo__textBlock--logo {
  margin-top: 80px;
}
.brandsInfo__textBlock--logo img {
  width: 179px;
}
