.clip-container {
  position: relative;
  /* overflow: hidden; */
}
.section.hero {
  z-index: 0;
  height: 350vh;
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
}
.hero-wrapper {
  width: 100%;
  height: 100vh;
  /* padding-top: 1.88em; */
  /* padding-bottom: 1.88em; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* position: -webkit-sticky; */
  /* position: sticky; */
  /* top: 0; */
  overflow: hidden;
}
.hero-content {
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}
.w-inline-block {
  max-width: 100%;
  display: inline-block;
}
.h1-wrapper {
  z-index: 3;
  width: 100%;
  color: #000;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 1.88em;
  padding-right: 1.88em;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  /* overflow: hidden; */
  font-family: var(--primary-fontL);
  text-transform: uppercase;
}
.h1.hero {
  width: 100%;
  text-align: center;
  /* letter-spacing: 0.02em; */
  overflow-wrap: break-word;
  font-size: 18vw;
  line-height: 0.8;
  overflow: visible;
}
.animeword {
  white-space: nowrap;
}

.hero-img {
  z-index: 1;
  /* width: 100%; */
  /* height: 100%; */
  opacity: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  overflow: hidden;
  -webkit-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-clip-path: polygon(37.5% 25%, 62.5% 25%, 62.5% 75%, 37.5% 75%);
  clip-path: polygon(37.5% 25%, 62.5% 25%, 62.5% 75%, 37.5% 75%);
}
.hero_img.hero-inner {
  width: 100%;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  display: inline-block;
  scale: 1;
  /* transform: "scale(0.667, 0.667)", */
}
.hero-link {
  width: 2em;
  height: 2em;
  display: none;
}
.is--visible-in-mobile {
  display: none;
}
.explore_button-container {
  max-width: 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: auto;
}
.explore_button-container.is--visible-in-mobile {
  text-decoration: none;
  display: none;
}
.paragraph.is--centered {
  text-align: center;
}

.paragraph {
  color: #000;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.35;
  font-family: var(--primary-fontB);
}
.explore-button {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding-top: 1em;
  font-style: normal;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.paragraph {
  color: #000;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.35;
}
.paragraph.red {
  color: red;
}
.explore-arrow {
  width: 1.56em;
  height: 1.3em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media screen and (max-width: 991px) {
  .hero-wrapper {
    /* height: 25%; */
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .section.hero {
    height: 100vh;
  }
  .hero-img {
    -webkit-clip-path: polygon(30% 10%, 70% 10%, 70% 90%, 30% 90%);
    clip-path: polygon(30% 10%, 70% 10%, 70% 90%, 30% 90%);
  }
  .explore_button-container.is--visible-in-mobile {
    z-index: 1;
    width: 100%;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: auto;
    bottom: 4em;
    /* left: 35.675em; */
    /* right: 35.675em; */
  }

  .paragraph {
    font-size: 1em;
  }
  .explore-button {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .explore-arrow {
    width: auto;
    height: auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 2px;
  }
}
@media screen and (max-width: 479px) {
  .explore_button-container.is--visible-in-mobile {
    width: 100%;
    max-width: 100%;
    top: auto;
    bottom: 8em;
    left: 0;
    right: 0;
  }
  .paragraph {
    font-size: 3vw;
  }
  .explore-button {
    /* padding-top: 3.75em; */
  }
}

/* History */

.section_black {
  min-height: 350vh;
  width: 100%;
  z-index: 5;
  background-color: rgb(0, 0, 0);
  overflow-y: auto;
  padding: 0 2rem;
  position: relative;
}

.h2-wrapper {
  color: #000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 1.88em;
  padding-bottom: 1.88em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.h-wrapper {
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.h2 {
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--primary-fontL);
  font-size: 12vw;
  font-weight: 900;
  line-height: 1;
}
.h2.cbh2 {
  color: #e5e5e5;
  margin-left: -0.08em;
}
.grid-img.wrapper {
  max-height: 30.03svw;
  max-width: 30.03svw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.image_cntr {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.image_1_cntr {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.image_2_cntr {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.image_2_cntr #w-node-3 {
  /* margin-left: 15rem; */
}
.image_3_cntr {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image_3_cntr #w-node-4 {
  margin-left: 5rem;
}
.image_4_cntr {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.image_4_cntr #w-node-6 {
  /* margin-left: 5rem; */
}
.image_5_cntr {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.image_5_cntr #w-node-7 {
  /* margin-left: 5rem; */
}
.image_6_cntr {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.image_6_cntr #w-node-8 {
  margin: 5rem 0;
}
.paragraph.cbp {
  color: gray;
}
/* .paragraph.cbp.has--indent {
  text-indent: 9.8em;
} */
#w-node-10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 80%;
  margin: 5rem 0;
}
#w-node-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  margin: 5rem 0;
}
@media only screen and (min-width: 992px) {
  .section_black {
    min-height: 300vh;
  }
  .image_1_cntr {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .image_2_cntr {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .image_2_cntr #w-node-3 {
    margin-left: 15rem;
  }
  .image_3_cntr {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image_3_cntr #w-node-4 {
    margin-left: 25rem;
  }
  .image_4_cntr {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .image_4_cntr #w-node-6 {
    /* margin-left: 5rem; */
  }
  .image_5_cntr {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .image_5_cntr #w-node-7 {
    /* margin-left: 5rem; */
  }
  .image_6_cntr {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .image_6_cntr #w-node-8 {
    /* margin-left: 5rem; */
  }
  .grid-img.wrapper {
    max-height: 15.03svw;
    max-width: 15.03svw;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    /* position: absolute; */
  }
  #w-node-5 {
    width: 50%;
  }
  #w-node-10 {
    width: 50%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
}
@media only screen and (max-width: 991px) {
  .section_black {
    min-height: 320vh;
  }
  #w-node-10 {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .section_black {
    min-height: 200vh;
  }
  #w-node-10 {
    width: 100%;
  }
}
.grid-cell-img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
/* .grid-img {
  position: absolute;
}
#w-node-2 {
  right: 10%;
}
#w-node-3 {
  left: 20%;
  top: 100%;
} */
/* History */

/* Artist */
.section.three {
  min-height: 100vh;
  padding: 0 1rem;
  /* margin-bottom: 10rem; */
  position: relative;
  background-color: #fff;
  overflow: hidden;
}

.h2-wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1.88em;
  padding-bottom: 4em;
  display: flex;
  width: 100%;
}
.h-wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.border-bottom {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
  bottom: 0%;
}
.artistsheading {
  letter-spacing: -0.06em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--primary-fontL);
  font-size: 11vw;
  font-weight: 400;
  line-height: 1;
}
.star {
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
  font-family: var(--primary-fontL);
  font-weight: 400;
  line-height: 1;
  font-size: 8rem;
}

#aboutsection {
  height: fit-content;
  display: flex;
  justify-content: flex-end;
}

#aboutimages {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: grid;
  width: 50%;
}

#w-node-dcef4b0a-0b81-f79b-7540-6e77ee6ccc9f-c7f4dd6b {
  grid-area: 3 / 2 / 4 / 3;
}
#w-node-dcef4b0a-0b81-f79b-7540-6e77ee6ccca1-c7f4dd6b,
#w-node-_2aa2d919-6be5-9a10-06b9-0433c83f6446-c7f4dd6b {
  grid-area: 4 / 3 / 5 / 3;
}
.aboutimages_grid-img {
  min-height: 150px;
  min-width: 150px;
  position: relative;
  overflow: hidden;
}
.aboutimages_grid-img.wrapper {
  max-height: 12.03em;
  max-width: 12.03em;
  justify-content: center;
  align-items: center;
  display: flex;
}
.aboutimages_grid-cell-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.2;
}

.description-wrapper {
  width: 100%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
.description-wrapper .last {
  justify-self: end;
}
.description {
  margin-top: 1.2rem;
  font-style: italic;
}

.about-a-section {
  width: 50%;
}
.gallerypera {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: var(--primary-fontL);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
  text-indent: 6.4em;
}
.g-item-list {
  position: relative;
  z-index: 9;
}
.list-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid black;
  position: relative;
  z-index: 9;
}
.list-item.four {
  border-bottom: 1px solid black;
}
.paragraph.list {
  font-family: var(--primary-fontL);
  padding: 0.6rem 0;
  font-size: 1rem;
  font-weight: 600;
  z-index: 9;
}
.paragraph.italic {
  font-style: italic;
  z-index: 9;
}
.img {
  position: absolute;
  height: 150px;
  width: 150px;
  top: -100%;
  left: 50%;
  transform: translateX(-50%) rotate(-25deg);
  opacity: 0;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  #aboutsection {
    flex-direction: column;
  }
  #aboutimages {
    width: 100%;
  }
  .about-a-section {
    width: 100%;
  }
  .gallerypera {
    margin: 3rem 0;
  }
}
/* ArtistsSection */
.section.artists {
  height: 900vh;
  display: block;
  position: relative;
  overflow: visible;
  background-color: #fff;
  padding-left: 1.88em;
  padding-right: 1.88em;
}
.artist-wrapper {
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.artist-name {
  z-index: 10;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.artist-name.gsap-scroll {
  height: 100vh;
}
.artist-name.gsap-scroll.num1 {
  z-index: 11;
  height: 100svh;
  color: #000;
  text-decoration: none;
}
.h-wrapper.centered {
  z-index: 10;
  height: auto;
  grid-column-gap: 1.13em;
  grid-row-gap: 1.13em;
  color: #000;
  justify-content: center;
  position: absolute;
  top: auto;
  bottom: auto;
  overflow: hidden;
}
.h-wrapper.centered.kubota {
  z-index: 19;
  color: #000;
  text-decoration: none;
}
.content-wrapper {
  align-items: flex-start;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.content-wrapper.centered {
  z-index: 1;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}
.h-wrapper.centered.yutaka {
  z-index: 18;
}
.h-wrapper.centered.izumi {
  z-index: 17;
}
.h-wrapper.centered.yuichi {
  z-index: 16;
}
.h-wrapper.centered.ken {
  z-index: 15;
}
.h-wrapper.centered.eikoh {
  z-index: 14;
}
.h-wrapper.centered.chiharu {
  z-index: 13;
}
.h-wrapper.centered.chimpom {
  z-index: 12;
}
.h-wrapper.centered.ishiuchi {
  z-index: 11;
}
.art-letter {
  width: auto;
  height: 100%;
  opacity: 0;
  display: inline-block;
}
.t-letter {
  width: 0.48em;
}
.art-letter.t-letter {
  width: 0.48em;
  display: inline-block;
}
.art-letter.a-letter {
  width: 0.55em;
}
.art-letter.y-letter {
  width: 0.53em;
}
.content.grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows:
    minmax(12.03em, 1fr) minmax(12.03em, 1fr) minmax(12.03em, 1fr)
    minmax(12.03em, 1fr) minmax(12.03em, 1fr) minmax(12.03em, 1fr) minmax(
      12.03em,
      1fr
    )
    minmax(12.03em, 1fr) minmax(12.03em, 1fr) minmax(12.03em, 1fr);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
.content.grid.artist-info {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-auto-columns: min-content;
}
.artist-grid-img {
  min-height: 154px;
  min-width: 154px;
  position: relative;
  overflow: hidden;
}
.artist-grid-img.hiroji {
  z-index: 9;
  opacity: 0;
}
.artist-grid-img.is--active {
  opacity: 1;
}
.artist-grid-img.hiroji.is--active {
  opacity: 1;
  display: flex;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b822-c7f4dd6b {
  grid-area: 1 / 2 / 2 / 3;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b824-c7f4dd6b {
  grid-area: 2 / 6 / 3 / 7;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b826-c7f4dd6b {
  grid-area: 4 / 4 / 5 / 5;
}
.grid-img.yutaka {
  z-index: 8;
  opacity: 0;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b828-c7f4dd6b {
  grid-area: 2 / 6 / 3 / 7;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b82a-c7f4dd6b {
  grid-area: 3 / 2 / 4 / 3;
}
.grid-img.izumi {
  z-index: 7;
  opacity: 0;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b82c-c7f4dd6b {
  grid-area: 1 / 4 / 2 / 5;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b82e-c7f4dd6b {
  grid-area: 2 / 7 / 3 / 8;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b830-c7f4dd6b {
  grid-area: 3 / 2 / 4 / 3;
}
.grid-img.yuichi {
  z-index: 6;
  opacity: 0;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b832-c7f4dd6b {
  grid-area: 2 / 6 / 3 / 7;
}
.grid-img.yuichi {
  z-index: 6;
  opacity: 0;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b834-c7f4dd6b {
  grid-area: 3 / 2 / 4 / 3;
}
.grid-img.ken {
  z-index: 5;
  opacity: 0;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b836-c7f4dd6b {
  grid-area: 1 / 7 / 2 / 8;
}
.grid-img.ken {
  z-index: 5;
  opacity: 0;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b838-c7f4dd6b {
  grid-area: 2 / 2 / 3 / 3;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b83a-c7f4dd6b {
  grid-area: 4 / 5 / 5 / 6;
}
.grid-img.eikoh {
  z-index: 4;
  opacity: 0;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b83c-c7f4dd6b {
  grid-area: 1 / 3 / 2 / 4;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b83e-c7f4dd6b {
  grid-area: 3 / 7 / 4 / 8;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b840-c7f4dd6b {
  grid-area: 4 / 4 / 5 / 5;
}
.grid-img.chiharu {
  z-index: 3;
  opacity: 0;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b842-c7f4dd6b {
  grid-area: 2 / 2 / 3 / 3;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b844-c7f4dd6b {
  grid-area: 3 / 7 / 4 / 8;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b846-c7f4dd6b {
  grid-area: 4 / 3 / 5 / 4;
}
.grid-img.chimpom {
  z-index: 2;
  opacity: 0;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b848-c7f4dd6b {
  grid-area: 2 / 2 / 3 / 3;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b84a-c7f4dd6b {
  grid-area: 3 / 7 / 4 / 8;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b84c-c7f4dd6b {
  grid-area: 4 / 5 / 5 / 6;
}
.grid-img.ishiuchi {
  z-index: 1;
  opacity: 0;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b84e-c7f4dd6b {
  grid-area: 2 / 3 / 3 / 4;
}
#w-node-_17284a8f-b135-01b9-aada-a7be7621b850-c7f4dd6b {
  grid-area: 3 / 6 / 4 / 7;
}
.artist_grid-cell-img {
  width: 100%;
  height: 100%;
  transform: scale(1.3);
}
.artist_grid-cell-img.art-info {
  transform: scale(1.3);
}

@media screen and (max-width: 991px) {
  .section.three {
    padding-left: 24px;
    padding-right: 24px;
  }
  .h-wrapper.centered {
    height: 50vh;
    min-height: 400px;
    grid-column-gap: 0em;
    grid-row-gap: 0em;
    flex-direction: column;
  }
  .h-wrapper.centered.kubota {
    font-style: normal;
    text-decoration: none;
    display: flex;
  }
  .h-wrapper.centered.yutaka {
    display: flex;
  }
  .h-wrapper.centered.izumi,
  .h-wrapper.centered.yuichi {
    display: flex;
  }
  .h-wrapper.centered.ken {
    display: flex;
  }
  .h-wrapper.centered.ishiuchi {
    overflow: visible;
  }
  .content.grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .content.grid.artist-info {
    grid-template-rows: 0;
    grid-template-columns: 0;
  }
  .artist-grid-img {
    min-height: 144px;
    min-width: 144px;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b822-c7f4dd6b {
    grid-row-start: 1;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b824-c7f4dd6b {
    grid-area: 2 / 5 / 3 / 6;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b826-c7f4dd6b {
    grid-area: 6 / 3 / 7 / 4;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b828-c7f4dd6b {
    grid-column: 5 / 6;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b82a-c7f4dd6b {
    grid-area: 5 / 1 / 6 / 2;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b82c-c7f4dd6b {
    grid-column: 3 / 4;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b82e-c7f4dd6b {
    grid-column: 5 / 6;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b830-c7f4dd6b {
    grid-row: 6 / 7;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b832-c7f4dd6b {
    grid-column: 4 / 5;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b834-c7f4dd6b {
    grid-row: 5 / 6;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b836-c7f4dd6b {
    grid-column: 4 / 5;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b838-c7f4dd6b {
    grid-column: 1 / 2;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b83a-c7f4dd6b {
    grid-area: 6 / 3 / 7 / 4;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b83c-c7f4dd6b {
    grid-column: 5 / 6;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b83e-c7f4dd6b {
    grid-area: 2 / 1 / 3 / 2;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b840-c7f4dd6b {
    grid-area: 6 / 3 / 7 / 4;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b842-c7f4dd6b {
    grid-area: 1 / 4 / 2 / 5;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b844-c7f4dd6b {
    grid-area: 2 / 1 / 3 / 2;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b846-c7f4dd6b {
    grid-area: 6 / 4 / 7 / 5;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b848-c7f4dd6b {
    grid-column: 3 / 4;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b84a-c7f4dd6b {
    grid-column: 1 / 2;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b84c-c7f4dd6b {
    grid-area: 5 / 4 / 6 / 5;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b84e-c7f4dd6b {
    grid-area: 1 / 5 / 2 / 6;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b850-c7f4dd6b {
    grid-area: 6 / 2 / 7 / 3;
  }
}
@media screen and (max-width: 767px) {
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b824-c7f4dd6b {
    grid-column: 4 / 5;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b826-c7f4dd6b {
    grid-row: 4 / 4;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b828-c7f4dd6b {
    grid-column: 4 / 5;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b82a-c7f4dd6b {
    grid-row: 3 / 4;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b82e-c7f4dd6b {
    grid-column: 4 / 5;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b830-c7f4dd6b,
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b834-c7f4dd6b,
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b83a-c7f4dd6b {
    grid-row: 3 / 4;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b83c-c7f4dd6b {
    grid-column: 4 / 5;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b84e-c7f4dd6b {
    grid-column: 4 / 5;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b850-c7f4dd6b {
    grid-row: 3 / 4;
  }
}
@media screen and (max-width: 479px) {
  .artist-name.gsap-scroll.num1 {
    height: 100vh;
  }
  .artist-grid-img {
    min-height: 100px;
    min-width: 100px;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b822-c7f4dd6b {
    grid-column: 1 / 2;
  }
  #w-node-_17284a8f-b135-01b9-aada-a7be7621b826-c7f4dd6b {
    grid-row: 6 / 6;
  }
  /* #w-node-_17284a8f-b135-01b9-aada-a7be7621b826-c7f4dd6b {
    grid-area: 5 / 2 / 6 / 3;
  } */
}
/* ArtistsSection */

/* sectionlinks */
.sectionlinks {
  z-index: 20;
  background-color: #fff;
  padding-left: 1.88em;
  padding-right: 1.88em;
  position: relative;
}
/* .content.grid.artist-links {
  grid-template-rows: minmax(12.03em, 1fr) minmax(12.03em, 1fr) minmax(
      12.03em,
      1fr
    ) minmax(12.03em, 1fr);
} */
.content2.grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows:
    minmax(12.03em, 1fr) minmax(12.03em, 1fr) minmax(12.03em, 1fr)
    minmax(12.03em, 1fr) minmax(12.03em, 1fr) minmax(12.03em, 1fr) minmax(
      12.03em,
      1fr
    )
    minmax(12.03em, 1fr) minmax(12.03em, 1fr) minmax(12.03em, 1fr);
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
.content2.grid.artist-links {
  grid-template-rows: auto;
}
.sectionlinks_grid-img {
  max-height: 12.03em;
  max-width: 12.03em;
  justify-content: center;
  align-items: center;
  display: flex;
}
.sectionlinks_grid-img.wrapper {
  max-height: 12.03em;
  max-width: 12.03em;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

#w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab3-c7f4dd6b {
  grid-area: 1 / 3 / 2 / 4;
}
#w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab5-c7f4dd6b {
  grid-area: 1 / 7 / 2 / 8;
}
#w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab7-c7f4dd6b {
  grid-area: 2 / 4 / 3 / 5;
}
#w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab9-c7f4dd6b {
  grid-area: 3 / 1 / 4 / 2;
}
#w-node-_1cae41b8-9168-5f5b-112a-d8b08896babb-c7f4dd6b {
  grid-area: 3 / 7 / 4 / 8;
}
#w-node-_1cae41b8-9168-5f5b-112a-d8b08896bad0-c7f4dd6b {
  grid-area: 3 / 8 / 4 / 9;
}

.artist-links {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}
.artist-links.align-right {
  align-items: flex-end;
}
.link {
  grid-column-gap: 0.16em;
  grid-row-gap: 0.16em;
  color: #000;
  text-decoration: none;
  display: flex;
  position: relative;
}
.link.artists {
  color: #000;
  text-decoration: none;
  display: none;
}
/* .artist-links .description.italic {
  margin-bottom: 0.1em;
} */
@media screen and (max-width: 991px) {
  .sectionlinks {
    padding-left: 24px;
    padding-right: 24px;
  }
  .content2.grid.artist-links {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }

  .sectionlinks_grid-img {
    max-height: 19em;
    max-width: 19em;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  /* .sectionlinks_grid-img.wrapper {
    max-height: 19em;
    max-width: 19em;
    justify-content: center;
    align-items: center;
    display: flex;
  } */
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab3-c7f4dd6b {
    grid-column: 1 / 2;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab5-c7f4dd6b {
    grid-column: 5 / 6;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab7-c7f4dd6b {
    grid-column: 2 / 3;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896babb-c7f4dd6b {
    grid-column: 4 / 5;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896bad0-c7f4dd6b {
    grid-column: 5 / 6;
  }
}
@media screen and (max-width: 767px) {
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab5-c7f4dd6b {
    grid-column: 4 / 5;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896babb-c7f4dd6b {
    grid-column: 3 / 4;
    grid-row-start: 2;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896bad0-c7f4dd6b {
    grid-column: 4 / 5;
    grid-row-start: 2;
  }
}
@media screen and (max-width: 479px) {
  .sectionlinks {
    padding-left: 12px;
    padding-right: 12px;
  }
  .content2.grid.artist-links {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab3-c7f4dd6b {
    grid-column: 2 / 3;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab5-c7f4dd6b {
    grid-area: 2 / 3 / 3 / 4;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab7-c7f4dd6b {
    grid-area: 3 / 1 / 4 / 2;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896bab9-c7f4dd6b {
    grid-area: 4 / 3 / 5 / 4;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896babb-c7f4dd6b {
    grid-area: 5 / 1 / 7 / 2;
  }
  #w-node-_1cae41b8-9168-5f5b-112a-d8b08896bad0-c7f4dd6b {
    grid-area: 5 / 3 / 7 / 4;
  }
}
html.w-mod-touch * {
  background-attachment: scroll !important;
}
/* sectionlinks */
/* Artist */
.sec-2 {
  width: 100%;
  height: 100vh;
  background-color: rgb(30, 255, 0);
  position: relative;
  z-index: 9999;
}
